.bloch {
    width: 60%;
    height: 70%;
    background-color: white;
    border-radius: 15px;
}
.title-bloch {
    padding: 5% 5%;
    font-size: 20px;
    text-decoration: underline;
}
.main {
    display: flex;
    justify-content: space-between;
}
.main-container {
    display: flex;
    height: 40vh;
}
.main h4 {
    margin: 0% 6% 0% 7%;
}
.toglle {
    padding-top: 3%;
    padding-left: 9%;
}
.list-group-item {
    cursor: pointer;
}
