.bloch {
    width: 60%;
    height: 30%;
    background-color: white;
    margin-top: -36%;
    border-radius: 15px;
}
.main {
    width: 100px;
    height: 100px;
    background-color: white;
    
}